h1{
  font-family: cursive;
}
.style1{
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

/*hightlight li on hover*/
#task-view:hover {
  background: rgb(189, 186, 186);
}

/* hide the delete button */
#delete {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

/* show the delete button on hover*/
#task-view:hover #delete {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.3s;
} 

/* hide the delete button */
#check {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

/* show the delete button on hover*/
#task-view:hover #check {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.3s;
}

input:checked + label{
  color: gray;
  text-decoration: line-through;
}
